/! Prevent Cross-siite Referencing
= csrf_meta_tag

%meta(charset="UTF-8")
%meta{name: "viewport",
	content: "initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width"}
%meta(name="theme-color" content="#ed3e4b")
